.active1{
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}
#popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    padding: 20px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}


.project-form {
    /* max-width: 600px; */
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}

label {
    display: block;
    margin-bottom: 8px;
}

.form-control {
    width: 290px;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

.btn-submit {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #45a049;
}

.btn-fermer {
    background-color :#e45125;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-fermer:hover {
    background-color: #e93a05;
}

#div_Form{
    display: flex;
    justify-content: space-between;
    width: 100%;
}